html,
body {
    height: 100%;
    width: auto;
    background-image: url(../images/pokeballbackground.jpg)
}

.container {
    image-rendering: pixelated;
    background: url(../images/labinteriordark.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}

#top-row {
    padding-top: 3%;
}
#combat-row {
    padding-top: 10%;
}
#choose-your-character {
    border-width: 2px;
    border-style: solid;
    border-color: red;
    position: relative;
    margin-top: 45%;
}

.character {
    display: inline-block;
    width: auto;
}

img {
    image-rendering: pixelated;
    
}

#table {
    z-index: -10;
}


#starter-pokemon {
    position: absolute;
    top: 50px;
    width: 100%;
}

#combat-row {
    padding: 10px, 0;
}

#portrait {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 2px;
    display: inline-block;
}

.healthBar {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 4px;
    border-radius: 2px;
}



.portrait {
    width: 100%;
    height: 100%;
    
    display: inline-block;
    border: 2px solid black;  
    position: absolute; 
}

#enemyTeamColumn #portrait {
    float: right;
}

#battlesprite {
    width: 100px;
    height: 100px;
    background-position: center;
    margin: 0 auto;
    position: relative;
}

.battlesprite {
    width: 100%;
    height: 100%;
    position: absolute;
}

#battlesprite .healthBar {
    height: 10px;
    bottom: -20px;
}
