html,
body {
    height: 100%;
    width: auto;
    background-image: url(../images/background/pokeballbackground.jpg)
}

.container {
    image-rendering: pixelated;
    background: url(../images/background/labinteriordark.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    position: relative;
}

#top-row {
    padding-top: 3%;
}
#combat-row {
    padding-top: 10%;
}
#choose-your-character {
    position: relative;
    margin-top: 30%;
}

.character {
    display: inline-block;
    width: auto;

}

.character img {
    min-width: 110px;
    max-width: 110px;
}

img {
    image-rendering: pixelated;
    
}

#table {
    z-index: -10;
}


#starter-pokemon {
    position: absolute;
    top: 50px;
    width: 100%;
}


#portrait {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 2px;
    display: inline-block;
}

.healthBar {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 4px;
    border-radius: 2px;
}



.portrait {
    width: 100%;
    height: 100%;
    
    display: inline-block;
    border: 2px solid black;  
    position: absolute; 
}

#enemyTeamColumn #portrait {
    float: right;
}

#battlesprite {
    width: 100px;
    height: 100px;
    background-position: center;
    margin: 0 auto;
    position: relative;
}

.battlesprite {
    width: 100%;
    height: 100%;
    position: absolute;
}

.battleHealthBar {
    height: 10px;
    bottom: -20px;
    width: 100%;
    position: absolute;
    bottom: -10;
    
}

#button-row {
    padding-top: 40px;
}

.attack {
    width: 200px;
    height: 100px;
}

#textbox {
    height: 200px;
    position: relative;
}

#main-game-container {
    justify-content: space-between;
}

#inGameText {
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 100;
}

@media (max-width: 425px) {
    .character img {
        min-width: 50px;
    }
}